* {
  margin: 0;
  padding: 0;
}

a:link {text-decoration: none; color: #fff;}
a:visited {text-decoration: none;}

/*Colores 
Champagne: #EED9B6
Rosa pastel:   #EEBDB6;

*/

body {
  display: flex;
  flex-direction: column;
  background-color:#fff;
  overflow-x: hidden;
  background-image: url(https://st2.depositphotos.com/4030657/7690/v/950/depositphotos_76902949-stock-illustration-doodle-bakery-seamless-pattern.jpg);
}

.barraPrincipal{
background-color: #2C2C2C ;
opacity: 90%;
position: relative;
flex-wrap: wrap;
height: 90px;
width: 100%;
}

.tituloprincipal {
	color: #fff;
	font-family: 'Great Vibes', cursive;
	line-height: 0.25;
	font-weight: 10;
	font-size: 60px;
  text-shadow: 2px 2px 5px #000;
  background-color: none;
  display: inline-block;
  position: absolute;
  left: 20px;
}

.tituloprincipal:hover {
  color: #EEBDB6;  
}

.logotitulo { 
  position: absolute;
  height: 75px;
  top: 5px;
  left: 190px;
  text-shadow: 2px 3px black;  
  margin-top: 5px;

}

.titulosecundario {
  padding: 15px;
  font-family: 'Nunito', sans-serif;;
  line-height: 15px;
  font-weight: 50px;
  font-size: 30px;
  color: #FAF5EC;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
  text-align: center;
  margin-right: 100%;
  }

.navPrincipal{
  font-family: 'Nunito', sans-serif;
  height: auto;
  
  width: 100%;
  background-color: #B2A288;
  box-shadow: 1px 1px 10px #000;
  border-color: 20px solid #000;

  }

.menuPrincipal{
  margin: auto;
}

/*  PAGINA PRINCIPAL

GENERICO
.divProductos {
  width: 500px;
  display: inline;
}

.divProductos img {
  display: inline-block;
  margin-left: 120px;
  margin-top: 75px;
  width:400px;
  padding:10px 10px 70px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
  transform:rotate(-10deg);

}

.divProductos span{
     display: block;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    transform:rotate(-10deg);
    margin-left: 180px;
    background-color: #fff;
    width: 420px;
    text-align: center;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos:hover {
padding:20px 20px 100px 20px;
transform:rotate(10deg);
transition: .7s;
}

*/ 



.divClases{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

/* INFANTILES*/

.divProductos1{
  display:inline-block;

}

.divProductos1 span {
  color: #000;
  display: block;
  margin: 0px 50px 50px 50px;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  position: relative;
  background-color: #fff;
  width: 420px;
  text-align: center;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos1 img {
  display: inline-block;
  margin: 50px 50px 0px 50px;
  width:400px;
  padding:10px 10px 70px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}


.divProductos1 :hover {
  transition: 0.4s;
  padding-top: 14px;
}

/*CLASICAS*/
.divProductos2 {
  width: 500px;
  display: inline;
}

.divProductos2 img {
  display: inline-block;
  margin: 50px 50px 0px 50px;
  width:400px;
  padding:10px 10px 70px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
 }

.divProductos2 span{
  color: #000;
  display: block;
  margin: 0px 50px 50px 50px;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  position: relative;
  background-color: #fff;
  width: 420px;
  text-align: center;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos2:hover {
  transition: 0.4s;
  padding-top: 14px;
}

/*CHOCOLATE*/
.divProductos3 {
  width: 500px;
  display: inline;
  align-content: center;
}

.divProductos3 img {
  display: inline-block;
  margin: 50px 50px 0px 50px;
  width:400px;
  padding:10px 10px 70px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos3 span{
  color: #000;
  display: block;
  margin: 0px 50px 50px 50px;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  position: relative;
  background-color: #fff;
  width: 420px;
  text-align: center;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos3 :hover {
  transition: 0.4s;
  padding-top: 14px;
}
  
/*FIESTAS*/

.divProductos4 {
  width: 500px;
  display: inline;
}

.divProductos4 img {
  display: inline-block;
  margin: 50px 50px 0px 50px;
  width:400px;
  padding:10px 10px 70px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos4 span{
  color: #000;
  display: block;
  margin: 0px 50px 50px 50px;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  position: relative;
  background-color: #fff;
  width: 420px;
  text-align: center;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos4:hover {
  transition: 0.4s;
  padding-top: 14px;
}

/* DESAYUNOS */
.divProductos5 {
  width: 500px;
  display: inline;
}

.divProductos5 img {
  display: inline-block;
  margin: 50px 50px 0px 50px;
  width:400px;
  padding:10px 10px 70px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos5 span{
  color: #000;
  display: block;
  margin: 0px 50px 50px 50px;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  position: relative;
  background-color: #fff;
  width: 420px;
  text-align: center;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos5 :hover {
  transition: 0.4s;
  padding-top: 14px;
}

/*MESA DULCE*/

.divProductos6 {
  width: 500px;
  display: inline;
}

.divProductos6 img {
  display: inline-block;
  margin: 50px 50px 0px 50px;
  width:400px;
  padding:10px 10px 70px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos6 span{
  color: #000;
  display: block;
  margin: 0px 50px 50px 50px;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  position: relative;
  background-color: #fff;
  width: 420px;
  text-align: center;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.divProductos6:hover {
  transition: 0.4s;
  padding-top: 14px;
}

/* FOOTER */

.espaciado{
width: 100%;
height: 150px;
}

.footerRedes h4{
  font-family: 'Nunito', sans-serif;
  color: #fff;
  line-height: 2;
  font-weight: 5;
  font-size: 20px;
  text-align: center;
  
  }
  
  .footerRedes{
    position: relative;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: #2C2C2C;
    display: inline-block;
    text-align: center;
  }
  
  .footerRedes a{
  font-family: 'Nunito', sans-serif;
  color: #fff;
  line-height: 2;
  font-weight: 5;
  margin: auto;
  }
  
  .spanCopy {
    line-height: 2;
  font-weight: 5;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 12px;
    text-align: right;
  }
  /* FIN FOOTER */
  


/* FIN PAGINA PRINCIPAL*/




/*




! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

*{
	padding: 0;
	margin: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}